# ACTIVE = BLUE. prod -> blue stack (8021), next -> green stack (8022).
# Installed as ./Caddyfile by deploy/promote.sh (or deploy.sh from .active).
{
	admin off
	auto_https off
	http_port 8020
	default_bind 127.0.0.1
}

http://ecobuilding.confinia.io {
	reverse_proxy 127.0.0.1:8021
}

http://staging.ecobuilding.confinia.io {
	reverse_proxy 127.0.0.1:8022
}

:8020 {
	respond "ecobuilding router (active: blue)" 200
}
